# Created by https://www.toptal.com/developers/gitignore/api/vscode
# Edit at https://www.toptal.com/developers/gitignore?templates=vscode

### vscode ###
.vscode/*
!.vscode/tasks.json
!.vscode/extensions.json
*.code-workspace
settings.json
# End of https://www.toptal.com/developers/gitignore/api/vscode
