.comments {
    margin: 20px 0;
    position: relative;
    // overflow-y: scroll;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__form {
        transform: translateY(-50%);
        position: absolute;
        width: 100%;
        margin: 0 auto;
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s ease-in;

        &--active {
            opacity: 1 !important;
            visibility: visible !important;
            transform: translateY(0);
            position: relative;
            width: 100%;
        }

        &__submit {
            text-align: right;
        }
    }
}
