.poster {
    min-height: "450px";
    position: relative;
    color: #fff;
    margin-bottom: 50px;
    border-bottom: 1px solid #000;
    background-position: right -200px top;
    background-size: cover;
    background-repeat: no-repeat;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #fff;
    }

    h1 {
        font-size: 3rem;
        font-weight: 600;
    }

    p {
        font-size: 1rem;
    }

    img {
        width: 100%;
        height: 100%;
    }

    &::before {
        content: "";
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: linear-gradient(
            to right,
            rgba(10.59%, 10.98%, 9.8%, 1) 150px,
            rgba(10.59%, 10.98%, 9.8%, 0.84) 100%
        );
    }

    &__wrapper {
        padding: 30px;

        &--row {
            align-items: center;
        }

        &--left {
        }

        &--right {
        }
    }

    &__title {
        padding-top: 30px;
        position: relative;
    }

    &__action {
        padding-left: 0;
        margin: 20px 0;

        &__list {
            display: inline-block;
            margin-right: 20px;

            button {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                background-color: #032541;
                border: none;
            }

            i {
                color: #fff;
                font-size: 0.8rem;
            }
        }

        &--rating {
            position: relative;

            &-star {
                position: absolute;
                display: flex !important;
                opacity: 0;
                visibility: hidden;
                transition: all 0.8s ease-out;
            }

            &:hover &-star {
                opacity: 1;
                visibility: visible;
            }
        }

        &--score {
            padding: 1rem;
            border-radius: 50%;
            background-color: #032541;
            font-weight: 800;
        }
    }

    &__people {
        p {
            font-size: 0.9rem;
        }
    }
}
