/* .nav-tabs {
    position: absolute;
    bottom: 60px;
    right: 50px;
    z-index: 10;
    &:active {
        color: #495057;
        background-color: transparent !important;
        border-color: #dee2e6 #dee2e6 #fff;
    }

    .nav-item {
        background-image: url(https://image.tmdb.org/t/p/w500//8veOfB9RbSzFki0Rq3IQIGsFfhC.jpg);
        background-size: contain;
        width: 100px;
    }
} */
