.poster {
    position: relative;
    color: #fff;
    margin-bottom: 50px;
    border-bottom: 1px solid #000;
    background-position: right -200px top;
    background-size: cover;
    background-repeat: no-repeat;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #fff;
    }

    h1 {
        font-size: 3rem;
        font-weight: 600;
    }

    &::before {
        content: "";
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: linear-gradient(
            to right,
            rgba(10.59%, 10.98%, 9.8%, 1) 150px,
            rgba(10.59%, 10.98%, 9.8%, 0.84) 100%
        );
    }

    &__wrapper {
        padding: 30px;
    }

    img {
        width: 100%;
        height: 100%;
        text-indent: -10000px;
    }

    &__title {
        padding-top: 30px;
        position: relative;
    }

    &__action {
        padding-left: 0;
        margin: 20px 0;

        &__list {
            display: inline-block;
            margin-right: 20px;

            button {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                background-color: #032541;
                border: none;
            }
        }

        &--rating {
            position: relative;
            width: 150px;
            &-star {
                position: absolute;
                display: flex !important;
                opacity: 0;
                visibility: hidden;
                transition: all 0.5s ease-out;
                transform: translateX(-37%);
            }

            &:hover &-star {
                opacity: 1;
                visibility: visible;
            }
        }

        &--score {
            padding: 0.2rem;
            display: inline-block;
            border-radius: 50%;
            background-color: #081c22;
            margin-right: 20px;

            &__rating {
                width: 50px;
                background-color: #081c22;
                font-weight: 800;
                color: #fff;
                border: 1px solid #383434;
                border-radius: 50%;
            }
        }
    }

    &__view {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

.CircularProgressbar .CircularProgressbar-text {
    font-size: 32px;
    fill: #fff;
}

.rating__info {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span.anticon.anticon-star {
        margin-left: 5px;
    }

    span.anticon.anticon-comment {
        margin-left: 5px;
    }
}

form.commentList__form.commentList__form--active {
    padding-right: 35px;
}
