.not-found {
    background-color: #f0f0f0;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0;
    min-height: calc(100vh - 82px - 60px);
}
