.user {
    &__about {
        padding-bottom: 40px;
        padding-top: 40px;
        display: flex;
        background-repeat: no-repeat;
        background-position: 0px 0px;
        background-color: #0a1526;
        top: 0;
        left: 0;

        &--container {
            display: flex;
            color: #fff;
            &__left {
                display: flex;
            }

            &__right {
                margin-left: 30px;
                display: flex;
                align-self: center;
                flex-flow: column;

                &__username {
                    font-size: 2rem;
                    margin-bottom: 20px;
                    font-weight: 600;

                    span {
                        font-size: 1rem;
                        font-weight: 100;
                    }
                }

                &__rating {
                    display: flex;
                    flex-grow: column;

                    .total {
                        padding-right: 30px;
                        margin-right: 30px;
                        border-right: 1px solid #e1e1e1;
                    }
                }
            }
        }
    }

    .ant-statistic-title {
        color: #fff;
    }

    .ant-statistic-content {
        font-size: 20px;
        color: #fff;
    }
}
