.resultItem {
    margin: 20px auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    &--left {
        text-align: center;
        max-width: 12.666667%;
    }

    &--right {
        padding-top: 30px;
        padding-left: 0;
    }

    &__poster {
        margin-right: 10px;
        border-radius: 5px;
        height: 170px;
        width: 116px;
    }

    &__title {
        h3 {
            font-size: 1.1rem;
            font-weight: 600;
            margin-bottom: 0;
            text-decoration: none;

            a {
                color: black;
            }

            a:hover {
                text-decoration: none;
                color: #01b4e4;
            }
        }
    }

    &__body {
        padding: 0;
        height: 170px;
    }

    &__description {
        line-height: 1.5em;
        height: 3em;
        width: 100%;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
    }

    img {
        object-fit: cover;
        text-indent: -10000px;
    }
}
