@import "../main";

.commentList {
    margin: 20px 0;
    position: relative;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button.btn.btn-primary {
            margin: 0;
            width: 100px;
        }
    }

    &__avatar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__form {
        position: absolute;
        margin: 0 auto;
        opacity: 0;
        visibility: hidden;

        &--active {
            opacity: 1 !important;
            visibility: visible !important;
            position: relative;
            width: 100%;
        }

        &__submit {
            @include Button;
        }

        &__avatar {
            border-radius: 50%;

            img {
                display: block;
            }
        }
    }
}
