.header {
    background-color: rgb(3, 37, 65);
    nav {
        padding: 0;
        width: 100%;
        height: 60px;
    }

    a.nav-link {
        color: white !important;
        font-size: 0.9em;
        font-weight: 600;
    }

    .basic-nav-dropdown {
        z-index: 1000;
    }

    .dropdown-toggle::after {
        display: none;
    }

    .dropdown-item::selection {
        background: #fff !important;
        color: #fff !important;
    }
}
