@import "./assets/variables.scss";

.title {
    margin: 30px 0 15px;
    font-weight: 600;
    font-size: 1.4em;
    margin-bottom: 20px;
}

.owl-nav {
    .owl-prev {
        position: absolute;
        left: -50px;
        top: 40%;
        font-size: 60px !important;
        transform: translate(-50%, -50%);

        span {
            color: rgba(204, 199, 199, 0.781);
        }
        &:hover {
            background-color: #e7e0e0 !important;
            span {
                color: #afa9a9;
            }
        }
    }
    .owl-next {
        position: absolute;
        right: -50px;
        top: 40%;
        font-size: 60px !important;
        transform: translate(-50%, -50%);

        span {
            color: rgba(204, 199, 199, 0.781);
        }
        &:hover {
            background-color: #e7e0e0 !important;
            span {
                color: #afa9a9;
            }
        }
    }
}

.owl-dots {
    display: none !important;
}
