.title {
    font-weight: 600;
    font-size: 1.4em;
    margin-bottom: 20px;
    margin-top: 20px;
}

.owl-nav {
    .owl-prev {
        position: absolute;
        left: -50px;
        top: 40%;
        font-size: 60px !important;
        transform: translate(-50%, -50%);

        span {
            color: rgba(204, 199, 199, 0.781);
        }
        &:hover {
            background-color: #e7e0e0 !important;
            span {
                color: #afa9a9;
            }
        }
    }
    .owl-next {
        position: absolute;
        right: -50px;
        top: 40%;
        font-size: 60px !important;
        transform: translate(-50%, -50%);

        span {
            color: rgba(204, 199, 199, 0.781);
        }
        &:hover {
            background-color: #e7e0e0 !important;
            span {
                color: #afa9a9;
            }
        }
    }
}

.owl-dots {
    display: none !important;
}

.btn-primary {
    background-color: #01b4e4 !important;
    border-color: #01b4e4 !important;
}

span.ant-tag {
    height: 30px;
    width: 110px;

    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #e3e3e3;
}

span.anticon.anticon-star {
    margin-left: 5px;
}

span.anticon.anticon-comment {
    margin-left: 5px;
}
