.search {
    justify-content: center;
    background-image: linear-gradient(to right, rgba(122, 129, 134, 0.8) 0%, rgba(3, 37, 65, 0) 100%),
        url("../../assets/img/poster.jpg");

    min-height: 300px;
    height: calc(100vh / 2.5);
    max-height: 360px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    &__form {
        width: 100%;
    }
}
