.item {
    &__inner {
        &--img {
            img {
                border-radius: 15px;
                width: 150px;
                height: 250px;
                object-fit: cover;
            }
        }

        &--detail {
            padding: 10px 5px;

            p {
                font-size: 1rem;
                font-weight: 600;
                margin-bottom: 10px;
            }
        }
    }
}
