.item {
    &__inner {
        &--img {
            img {
                border-radius: 15px;
                width: 150px;
                height: 300px;
                object-fit: cover;
            }
        }

        &--detail {
            padding: 10px 5px;

            h4 {
                font-size: 1rem;
                font-weight: 600;
                margin-bottom: 10px;
            }
            p {
                font-size: 0.8rem;
                margin-bottom: 10px;
            }

            button {
                width: 40px;
                box-shadow: none;
            }
        }
    }
}
