.card {
    height: 390px;
    width: 180px;
    border-radius: 10px;
    box-shadow: -3px -12px 7px #e7e0e0;
    background-color: #fff;

    p {
        font-size: 0.8rem;
        margin-bottom: 10px;
    }

    a {
        color: #000;
        &:hover {
            color: #48c9ec;
            text-decoration: none;
        }
    }

    img {
        height: 270px;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    &--rating {
        width: 50px;
        background-color: #081c22;
        font-weight: 800;
        color: #fff;
        border: 3px solid #383434;
        border-radius: 50%;
        position: absolute;
        transform: translateY(-60%);
    }

    &-body {
        padding: 1.5rem 0.5rem;

        p {
            font-size: 1rem;
        }
    }

    &-title {
        font-family: myFirstFont700;
        font-weight: 900;
        font-size: 1.1rem;
        display: inline-block;
        margin-bottom: 10px;
        min-height: 50px;
    }
}
